flows (1).json
[{"id":"4d6a11b.5b0f4f","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"e676b67e.80e588","type":"ibmiot in","z":"4d6a11b.5b0f4f","authentication":"apiKey","apiKey":"95ee0b3f.525d38","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1008","applicationId":"","deviceType":"iotdevices","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":270,"y":140,"wires":[["1330ae52.986fb2","58e96b5c.052a34","70fee876.dd1218","c40ac5d8.769af8","80384c6a.183ec"]]},{"id":"1330ae52.986fb2","type":"debug","z":"4d6a11b.5b0f4f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":80,"wires":[]},{"id":"58e96b5c.052a34","type":"function","z":"4d6a11b.5b0f4f","name":"employeeid","func":"global.set('E',msg.payload.d.employeeid)\nreturn{payload:msg.payload.d.employeeid}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":180,"wires":[["1330ae52.986fb2","eef2a955.911308"]]},{"id":"70fee876.dd1218","type":"function","z":"4d6a11b.5b0f4f","name":"Area","func":"global.set('A',msg.payload.d.area)\nreturn{payload:msg.payload.d.area}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":260,"wires":[["1330ae52.986fb2","3b9f66ab.6fca2a"]]},{"id":"c40ac5d8.769af8","type":"function","z":"4d6a11b.5b0f4f","name":"Time","func":"global.set('T',msg.payload.d.time)\nreturn{payload:msg.payload.d.time}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":340,"wires":[["1330ae52.986fb2","f5052e40.dc10d"]]},{"id":"80384c6a.183ec","type":"cloudant out","z":"4d6a11b.5b0f4f","name":"","cloudant":"","database":"sensordata","service":"node-red-bqbyw-2021--cloudant-1620812480733-38252","payonly":true,"operation":"insert","x":450,"y":100,"wires":[]},{"id":"eef2a955.911308","type":"ui_text","z":"4d6a11b.5b0f4f","group":"5dbde7c6.7be198","order":6,"width":0,"height":0,"name":"employeeid","label":"employeeid","format":"{{msg.payload}}","layout":"row-left","x":730,"y":220,"wires":[]},{"id":"3b9f66ab.6fca2a","type":"ui_text","z":"4d6a11b.5b0f4f","group":"5dbde7c6.7be198","order":7,"width":0,"height":0,"name":"area","label":"area","format":"{{msg.payload}}","layout":"row-left","x":630,"y":260,"wires":[]},{"id":"f5052e40.dc10d","type":"ui_text","z":"4d6a11b.5b0f4f","group":"5dbde7c6.7be198","order":6,"width":0,"height":0,"name":"time","label":"time","format":"{{msg.payload}}","layout":"row-left","x":640,"y":340,"wires":[]},{"id":"53d777b9.80ffe8","type":"http in","z":"4d6a11b.5b0f4f","name":"http in","url":"/sensordata","method":"get","upload":false,"swaggerDoc":"","x":370,"y":480,"wires":[["52e58e68.527aa"]]},{"id":"32e07957.4e3536","type":"http response","z":"4d6a11b.5b0f4f","name":"","statusCode":"","headers":{},"x":750,"y":460,"wires":[]},{"id":"52e58e68.527aa","type":"function","z":"4d6a11b.5b0f4f","name":"http response","func":"msg.payload={\"E\":global.get('E'),\"A\":global.get('A'),\"T\":global.get('T')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":420,"wires":[["32e07957.4e3536"]]},{"id":"489b554f.3ff13c","type":"cloudant in","z":"4d6a11b.5b0f4f","name":"","cloudant":"","database":"sensordata","service":"node-red-bqbyw-2021--cloudant-1620812480733-38252","search":"_all_","design":"","index":"","x":630,"y":580,"wires":[["446f8fb4.70036"]]},{"id":"d52ead6c.b6054","type":"inject","z":"4d6a11b.5b0f4f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":440,"y":580,"wires":[["489b554f.3ff13c"]]},{"id":"446f8fb4.70036","type":"debug","z":"4d6a11b.5b0f4f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":580,"wires":[]},{"id":"95ee0b3f.525d38","type":"ibmiot","name":"iotdata","keepalive":"60","serverName":"pentio.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"5dbde7c6.7be198","type":"ui_group","name":"Default","tab":"1b0ba5f0.a987ba","order":1,"disp":true,"width":"6","collapse":false},{"id":"1b0ba5f0.a987ba","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]